<#@ template debug="false" hostspecific="true" language="C#" inherits="CodePrinterBase" #>
<#@ assembly name="Meta" #>
<#@ include file="Templates/Snippets/autogen_notice.txt" #>
<#@ include file="Templates/Snippets/ComponentUsings.txt" #>

namespace <#= behavior.Namespace #>
{
    public partial class <#= behavior.ClassName #> : ICopyable
    {
<#@ include file="Templates/Snippets/ComponentIndex.txt" #>

<#@ include file="Templates/Snippets/ComponentAction.txt" #>

<#@ include file="Templates/Snippets/ComponentInitInWorldFunc.txt" #>

<#@ include file="Templates/Snippets/BehaviorConstructors.txt" #>

<#@ include file="Templates/Snippets/ComponentAddingCopying.txt" #>

<#@ include file="Templates/Snippets/BehaviorChains.txt" #>

<#@ include file="Templates/Snippets/HandlerFromExportedMethods.txt" #>
    }

    public static class <#= behavior.ClassName #>EntityExtensions
    {
<#@ include file="Templates/Snippets/BehaviorEntityExtensions.txt" #>
    }
}