<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="Meta" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.IO" #>
<#@ output extension=".cs" #>
<#@ parameter name="behavior" type="Hopper.Meta.Template.BehaviorInfo" #>

