<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="Meta" #>
<#@ include file="Templates/Snippets/autogen_notice.txt" #>
<#@ include file="Templates/Snippets/ComponentUsings.txt" #>

namespace <#= behavior.Namespace #>
{
    public partial class <#= behavior.ClassName #>
    {
<#@ include file="Templates/Snippets/ComponentIndex.txt" #>

<#@ include file="Templates/Snippets/BehaviorConstructors.txt" #>

<#@ include file="Templates/Snippets/ComponentAddingCopying.txt" #>

<#@ include file="Templates/Snippets/BehaviorChains.txt" #>

<#@ include file="Templates/Snippets/HandlerFromExportedMethod.txt" #>

<# /*foreach (var preset in presets) {*/ #>
        /* TODO: presets */
<# /*}*/ // end foreach #>
    }

    public static class <#= behavior.ClassName #>EntityExtensions
    {
<#@ include file="Templates/Snippets/BehaviorEntityExtensions.txt" #>
    }
}